User Requirements:
1. Use the following annotations to declare the relation between java object and 
   database entity (table, column, etc)
@Key
 |__ is it not null?
 |__ is it unique?

@PrimaryKey (A unique and not null key used as an id for the related entity)
 Note: If more that one elements are tagged as primary keys, then the primary key
       of the generated table, will consist of these elements together (as a vector)

@ForeignKey (Pointer to some other entity)


